/* Define the custom font faces with unique names */
@font-face {
    font-family: "Roboto-Thin";
    src: url("/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/fonts/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Black";
    src: url("/fonts/Roboto-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Thin-Italic";
    src: url("/fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto-Light-Italic";
    src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto-Medium-Italic";
    src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto-Bold-Italic";
    src: url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto-Black-Italic";
    src: url("/fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

.roboto-thin {
    font-family: "Roboto-Thin", sans-serif;
}

.roboto-light {
    font-family: "Roboto-Light", sans-serif;
}

.roboto-regular {
    font-family: "Roboto-Regular", sans-serif;
}

.roboto-medium {
    font-family: "Roboto-Medium", sans-serif;
}

.roboto-bold {
    font-family: "Roboto-Bold", sans-serif;
}

.roboto-black {
    font-family: "Roboto-Black", sans-serif;
}

.roboto-thin-italic {
    font-family: "Roboto-Thin-Italic", sans-serif;
}

.roboto-light-italic {
    font-family: "Roboto-Light-Italic", sans-serif;
}

.roboto-regular-italic {
    font-family: "Roboto-Regular-Italic", sans-serif;
}

.roboto-medium-italic {
    font-family: "Roboto-Medium-Italic", sans-serif;
}

.roboto-bold-italic {
    font-family: "Roboto-Bold-Italic", sans-serif;
}

.roboto-black-italic {
    font-family: "Roboto-Black-Italic", sans-serif;
}
