:root {
	--color-primary: #0056a0; /* Example primary color */
	--color-secondary: #003c71; /* Example secondary color */
	--color-accent: #f0c000; /* Example accent color */
	--color-background: #f4f4f4; /* Background color */
	--color-text: #333333; /* Text color */
	--color-border: #cccccc; /* Border color */
	--color-error: #e52207 /* Error color */;
}
